{
  "presets": [
    "@babel/react",
    ["@babel/typescript", {
      "isTSX": true,
      "allExtensions": true
    }]
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    ["@babel/plugin-proposal-decorators", {
      "decoratorsBeforeExport": true
    }],
    "react-imported-component/babel", 
    "babel-plugin-dynamic-import-node"
  ]
}