# Dev files
*.log
.DS_Store
.idea
node_modules
dump.rdb
.vscode/
scratch/
# Local config just for running migrations
ormconfig.json
# Don't need persisted migrations for now
migration/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Lib
lib/
build/
dist/

static/tiles
