html, body {
  height: 100vh;
}

.over-map {
  z-index: 9999;
}

// Custom CSS to get under the leaflet zoom for other HTML
.left-actions {
  position: fixed;
  left: 11px;
  top: 80px;
}

.fixed-container {
  position: fixed;
  left: 2vw;
  top: 2vh;
  width: 96vw;
}
.below-fixed {
  padding-top: calc(2vh + 3rem);
}

.fullscreen {
  height: 100vh;
  overflow-y: scroll;
}

@import './map';
@import './animations';
